<%= form_for @task  do |f| %>

  <%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <table><tr><td>
  <div class="field">
      <%= f.check_box :HydroStage %>
    <%= f.label :HydroStage %>
  </div>
  <div class="field">
    <%= f.check_box :HeatStage %>
    <%= f.label :HeatStage %>
  </div>
  <div class="field">
    <%= f.check_box :ExchangeStage %>
    <%= f.label :ExchangeStage %>
  </div>
  <div class="field">
    <%= f.label :source %>: <%= f.select :source, options_for_select([['Al', true], ['Al_glass', false]]) %> 
  </div>
  </td><td>
  <div class="field">
    <%= f.label :tauPulse %>: <%= f.text_field :tauPulse %> e-15
  </div>
  <div class="field">
    <%= f.label :fluence %>: <%= f.text_field :fluence %>
  </div>
  <div class="field">
    <%= f.label :deltaSkin %>: <%= f.text_field :deltaSkin %>e-9
  </div>
  <div class="field">
    <%= f.label :courant %>: <%= f.text_field :courant %>
  </div>
  <div class="field">
    <%= f.label :maxTime %>: <%= f.text_field :maxTime %>e-12
  </div>
  </td></tr></table>
    <div style="overflow:auto; width: 100%;">
      <% f.fields_for :nzones do |builder| %>
        <%= render 'nzone_fields', :f => builder %>
      <% end %>
<p>      <%= link_to_add_fields "Add nZone", f, :nzones %></p> 
    </div>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
