<%= form_for @task  do |f| %>

  <%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <table><tr><td style="width: 300px; vertical-align: top; padding-top: 15px;">
  <div class="field">
      <%= f.check_box :HydroStage %>
    <%= f.label :HydroStage %>
  </div>
  <div class="field">
    <%= f.check_box :HeatStage %>
    <%= f.label :HeatStage %>
  </div>
  <div class="field">
    <%= f.check_box :ExchangeStage %>
    <%= f.label :ExchangeStage %>
  </div>
  <div class="field">
    <%= f.label :source %> <%= f.select :source, Task::SOURCE %> 
  </div>
  
  <div class="field">
    <%= f.label :tauPulse %> <%= f.text_field :tauPulse %> <img src="http://chart.googleapis.com/chart?cht=tx&chl=e^{-15}s">
  </div>
  <div class="field">
    <%= f.label :fluence %> <%= f.text_field :fluence %> <img src="http://chart.googleapis.com/chart?cht=tx&chl=\frac{J}{m^2}">
  </div>
  <div class="field">
    <%= f.label :deltaSkin %> <%= f.text_field :deltaSkin, :style => 'vaertical-align:top;' %> <img style="margin-top: -7px;" src="http://chart.googleapis.com/chart?cht=tx&chl=e^{-9}m">
  </div>
  <div class="field">
    <%= f.label :courant %> <%= f.text_field :courant %>
  </div>
  <div class="field">
    <%= f.label :maxTime %> <%= f.text_field :maxTime %> <img src="http://chart.googleapis.com/chart?cht=tx&chl=e^{-12}s">
  </div>
  
  </td><td style="vertical-align: top; padding-top: 15px;">
    <div style="overflow:auto; width: 100%;">
      <% f.fields_for :nzones do |builder| %>
        <%= render 'nzone_fields', :f => builder %>
      <% end %>
<p style="clear:both; padding-left: 20px;">      <%= link_to_add_fields "Add Zone", f, :nzones %></p> 
    </div>
  </td></tr></table>
  
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
