<div class='nzones_form round'>
<div>
  <img src="http://chart.googleapis.com/chart?cht=tx&chs=15&chf=bg,s,EFEFEF&chl=L"> = 
  <%= f.text_field :l %> <img src="http://chart.googleapis.com/chart?cht=tx&chs=15&chf=bg,s,EFEFEF&chl=\cdot10^{-9}">
</div>
<div>
  <img src="http://chart.googleapis.com/chart?cht=tx&chs=15&chf=bg,s,EFEFEF&chl=N"> = 
  <%= f.text_field :nSize %>
</div>
<div>
  <img src="http://chart.googleapis.com/chart?cht=tx&chs=15&chf=bg,s,EFEFEF&chl=\rho"> = 
  <%= f.text_field :ro %>
</div>
<div>
  <img src="http://chart.googleapis.com/chart?cht=tx&chs=15&chf=bg,s,EFEFEF&chl=T_i"> = 
  <%= f.text_field :ti %>
</div>
<div>
  <img src="http://chart.googleapis.com/chart?cht=tx&chs=15&chf=bg,s,EFEFEF&chl=T_e"> = 
  <%= f.text_field :te %>
</div>
<div>
  <img src="http://chart.googleapis.com/chart?cht=tx&chs=11&chf=bg,s,EFEFEF&chl=v"> = 
  <%= f.text_field :v %>
</div>
<div>
  <%= f.hidden_field(:exp, :value => "0.0") %> 
</div>
<%= f.hidden_field :_destroy %>
<%= link_to_function 'remove', 'remove_nzone(this)' %>
    </div>
