<h2><%= @task.title %></h2>
<div class = 'autoverflow showtask'>
  <div>
    <pre style="float:left"><%= @text %></pre>
  </div>
  <div>
    One beautiful task with <%= pluralize (@task.nzones.count, 'nzone')  %><br \>
    Progress: <%= @progress.body %>
    
  </div>
<!-- <%= render :partial => "nzone", :collection => @task.nzones, :as => :nzone %> -->
</div>
