<% unless @human_progress == '100%' %>
<% content_for :js do %>
 <script type="text/javascript"charset="UTF-8">  

  function updateTimeFunc(){
    new Ajax.Updater('progress', '/tasks/' + <%= @task.id %> + '/show_progress'); 
  }

  var e = new PeriodicalExecuter(updateTimeFunc, 10);

</script>
<% end %> 
<% end %> 


<h2><%= @task.title %></h2>

<div class = 'showtask'>
<table><tr><td>
  <div>
    <pre style="float:left"><%= @text %></pre>
  </div>
  </td><td width="100%">
  <div>
    One beautiful task with <%= pluralize (@task.nzones.count, 'nzone')  %><br \>
    
    <div id="progress">
    
      <% if @current_time == "server error" %>
        Something went wrong on our server. Come back later.
      <% else %>
        <%= render 'progress' %>
      <% end %>
    </div>
    <div>
    <%= link_to 'Download results', download_path(:id => @task.id) %><br>
    <% if can? :manage, @task -%>
      <div class="misctask" style='border-top: 1px solid silver; margin-top: 30px;'>
      <span class="destroy"><%= link_to "Delete Task", @task, :method => :delete,
                                       :confirm => "You sure?",
                                       :title => @task.title %></span>
      <% end -%>
      </div>
    </div>
    
  </div>
</td></tr></table>
</div>
